<div class='container'>
<div class='page-view-container'>
<div class='row-fluid'>
  <div class='span6'>
    <ul class='photo-grid'>
    <h2>My Recipes:</h2>
    <% @user.recipes.each do |recipe | %>      
      <% recipe_view_object = RecipeViewObject.new(recipe) %>
      <li class="<%= recipe_view_object.categories_class%>" >
        <a href="<%=recipe_path(recipe)%>">
          <figure>
            <%= image_tag(recipe_view_object.image_url, :title => recipe_view_object.image_alt, alt: recipe_view_object.image_alt)%>
            <figcaption>
              <p>
                <%=recipe_view_object.image_alt%>
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
      <%end%>    
    </ul>
  </div>
  <div class='span6'>
    <ul class='photo-grid'>
    <h2>My Favorites:</h2>
    <% @user.favorites.each do |favorite | %>
      <% recipe_view_object = RecipeViewObject.new(favorite.recipe) %>
      <li class="<%= recipe_view_object.categories_class%>" >
        <a href="<%=recipe_path(favorite.recipe)%>">
          <figure>
            <%= image_tag(recipe_view_object.image_url, :title => recipe_view_object.image_alt, alt: recipe_view_object.image_alt)%>
            <figcaption>
              <p>
                <%=recipe_view_object.image_alt%>
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
</div>
</div>